
.card-img-topv3{
    width: 40% ;
    display:block;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-img-topv2 {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}